numpy
pandas
streamlit
scikit-learn
pip

function warnet(arr) {
    var result = [];
  
    for (var i = 0; i < arr.length; i++) {
      var nama = arr[i][0];
      var jamAwal = arr[i][1];
      var jamAkhir = arr[i][2];
  
      var awal = convertToMinutes(jamAwal);
      var akhir = convertToMinutes(jamAkhir);
      var durasi = akhir - awal;
  
      var totalBiaya = calculateTotalBiaya(durasi);
  
      var obj = {
        Nama: nama,
        "Jam Awal": jamAwal,
        "Jam Akhir": jamAkhir,
        "Total Biaya": totalBiaya
      };
  
      result.push(obj);
    }
  
    return result;
  }
  
  function convertToMinutes(jam) {
    var parts = jam.split(".");
    var jamInt = parseInt(parts[0]);
    var menitInt = parseInt(parts[1]);
  
    return jamInt * 60 + menitInt;
  }
  
  function calculateTotalBiaya(durasi) {
    var biayaPerJam = 2000;
    var setengahBiayaPerJam = 1000;
    var jam = Math.floor(durasi / 60);
    var menit = durasi % 60;
  
    if (menit < 30) {
      return jam * biayaPerJam + setengahBiayaPerJam;
    } else {
      return (jam + 1) * biayaPerJam;
    }
  }
  
  var listSewa = [
    ['Ucok', '12.30', '14.10'],
    ['Putri', '17.00', '19.20']
  ];
  var hasil = warnet(listSewa);
  console.log(hasil);

sgtg

function piramida(n) {
    if (n % 2 == 0) {
        for (let i = 1; i <= n; i++) {
            let row = '';
            for (let j = 1; j <= i; j++) {
                row += '*';
            }
            console.log(row);
        }
    } else {
        for (let i = n; i >= 1; i--) {
            let row = '';
            for (let j = 1; j <= i; j++) {
                row += '*';
            }
            console.log(row);
        }
    }
}
console.log(piramida(7));
console.log(piramida(4));

3
const iniFungsi = (a, b) => {
console.log(a % b);
}

iniFungsi(5, 2);
